################################################################################
# Ignore NEOS/Flow files
################################################################################
.project

Settings.yaml.example

Resources/Private/node_modules
Resources/Private/bower_components

npm-debug.log

################################################################################
# Ignore IDE files
################################################################################
/.idea/


########################################################################
# ignore caches
########################################################################
.sass-cache


########################################################################
# ignore build files
########################################################################
/.composer_installed
/mysql/
/vendor/
/.bundle/


########################################################################
# ignore OS specific files
########################################################################
.DS_Store
