{namespace g = DL\Gallery\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}


<div {attributes -> f:format.raw()}>
    <f:if condition="{node.properties.tag}">
        <f:then>

    <div class="dl-gallery lightbox-images" itemscope itemtype="http://schema.org/ImageGallery">
        <div class="row dl-gallery">
            <g:gallery galleryNode="{node}">
                <figure itemprop="associatedMedia" itemtype="http://schema.org/ImageObject" class="{themeSettings.columnClass} typo3-neos-nodetypes-image">
                    <a href="{g:imageData(image:image theme:'bootstrapLightbox', imageVariant:'large', key:'src')}" itemprop="contentUrl" data-size="{g:imageData(image:image theme:'bootstrapLightbox', imageVariant:'large', key:'width')}x{g:imageData(image:image theme:'bootstrapLightbox', imageVariant:'large', key:'height')}">
                        <g:image image="{image}" theme="bootstrapLightbox" imageVariant="thumb" additionalAttributes="{itemprop: 'thumbnail'}"/>
                    </a>

                    <figcaption itemprop="caption description">{g:imageData(image:image theme:'bootstrapLightbox', imageVariant:'large', key:'caption')}</figcaption>
                </figure>
            </g:gallery>
        </div>
    </div>

        </f:then>
        <f:else>
            <f:if condition="{node.context.workspace.name} != 'live'">
                <div>Please select a tag in the inspector to display a gallery.</div>
            </f:if>
        </f:else>
    </f:if>
</div>

<f:render partial="PhotoSwipe" />