{namespace g = DL\Gallery\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<div {attributes -> f:format.raw()}>
    <f:if condition="{imagesSelected}">
        <f:then>
            <g:gallery galleryNode="{node}">
                <figure itemprop="associatedMedia" itemtype="http://schema.org/ImageObject">
                    <a href="{g:imageData(image:image, theme:'justified', imageVariant:'large', key:'src')}" itemprop="contentUrl"
                            data-size="{g:imageData(image:image, theme:'justified', imageVariant:'large', key:'width')}x{g:imageData(image:image, theme:'justified', imageVariant:'large', key:'height')}">
                        <g:image image="{image}" theme="justified" imageVariant="thumb" additionalAttributes="{itemprop: 'thumbnail'}"/>
                    </a>
                    <figcaption>{image.title}</figcaption>
                </figure>
            </g:gallery>
        </f:then>
        <f:else>
            <f:if condition="{node.context.workspace.name} != 'live'">
                <div>Please select select some images, a tag or an asset collection in the inspector to display a gallery.</div>
            </f:if>
        </f:else>
    </f:if>
</div>


<f:if condition="{requestFormat} == 'html'">
    <f:render partial="PhotoSwipe" />
</f:if>